<!-- Author: Depinder Kaur, created on: 19-03-2024 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Orders</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body id="background">
<h2>All Orders</h2>

<table>
    <thead>
    <tr>
        <th><b>Id</b></th>
        <th><b>Name</b></th>
        <th><b>Email</b></th>
        <th><b>Date</b></th>
        <th><b>Total Amount (in kr)</b></th>
        <th> Status</th>
        <th> Change status</th>
        <th><b>Order Details</b></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${ordersList}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.user.firstName} + ' ' + ${item.user.lastName}"></td>
        <td th:text="${item.user.email}"></td>
        <td th:text="${item.date}"></td>
        <td th:text="${item.totalAmount}"></td>
        <td th:text="${item.status}"></td>
        <td>
            <form th:action="@{/admin/updateOrderStatus}">
                <input type="hidden" name="orderId" th:value="${item.id}">
                <input type="submit" value="Shipping">
            </form>
        </td>
        <td>
            <a th:href="@{/orders/{id}(id=${item.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
<br><br>
<hr>
<br>
<a th:href="@{/admin/showAdminMenu}"><b>Admin Menu</b></a>
<br><br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>