<!-- Author: Depinder Kaur, created on: 17-03-2024 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search a Product</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h2>Search a Product</h2>
<hr>

    <form th:action="@{/admin/searchProduct/chooseProduct}" th:object="${searchProduct}" method="POST">

        <!-- Check for Product NOT Found -->
        <div th:if="${param.notFound}">
            <div class="error">
                <i><b>!! Product NOT Found !!</b></i>
            </div>
        </div>

        <!-- Check for successful updating of product -->
        <div th:if="${param.success}">
            <div class="success">
                <b> Product Update: SUCCESSFUL </b>
            </div>
        </div>

        <br>

        Name (*): <input type="text" th:field="*{name}" />

        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"
              class="error"></span>

        <br><br>

        Category (*):
        <select name="category" th:field="*{category}">
            <option th:each="tempCategory : ${categories}"
                    th:value="${tempCategory}"
                    th:text="${tempCategory}"></option>
        </select>

        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('category')}"
              th:errors="*{category}"
              class="error"></span>

        <br><br>

        Brand (*): <input type="text" th:field="*{brand}"/>

        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('brand')}"
              th:errors="*{brand}"
              class="error"></span>

        <br><br>

        <input type="submit" value="Show possible product(s)" />
    </form>
    <br>
    <hr>
    <br>
    <a href="/admin/showAdminMenu"><b>Admin Menu</b></a>
    <br><br>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>