<!-- Author: Depinder Kaur, created on: 17-03-2024 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update a Product</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body id="background">
    <h2>Update a Product</h2>

    <form th:action="@{/admin/updateProduct}" th:object="${productDto}" method="POST">

        <input type="hidden" name="id" th:value="${id}" >

        Name (*): <input type="text" th:field="*{name}" th:value="${productDto.name}"/>

        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"
              class="error"></span>

        <br><br>

        Price (*): <input type="text" th:field="*{price}" th:value="${productDto.price}"/>

        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}"
              class="error"></span>

        <br><br>

        Category (*):
        <select name="category" th:field="*{category}">
            <option th:each="tempCategory : ${categories}"
                    th:value="${tempCategory}"
                    th:text="${tempCategory}"></option>
        </select>

        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('category')}"
              th:errors="*{category}"
              class="error"></span>

        <br><br>

        Description (*): <input type="text" th:field="*{description}" th:value="${productDto.description}"/>

        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('description')}"
              th:errors="*{description}"
              class="error"></span>

        <br><br>

        Brand (*): <input type="text" th:field="*{brand}" th:value="${productDto.brand}"/>

        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('brand')}"
              th:errors="*{brand}"
              class="error"></span>

        <br><br>

        <input type="submit" value="Update" />
        <br>
    </form>
    <hr>
    <br>
    <a th:href="@{/admin/showAdminMenu}"><b>Admin Menu</b></a>
    <br><br>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>