<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Product to Update</title>
</head>
<body>
<h2>Choose Product to Update</h2>
<hr>
<div th:each="product: ${productList}">
    Name: <span th:text="${product.name}"></span><br>
    Category: <span th:text="${product.category.getName()}"></span><br>
    Brand: <span th:text="${product.brand}"></span><br>
    Price: <span th:text="${product.price}"></span> kr<br>
    Description: <span th:text="${product.description}"></span>

    <form action="/selectProductToUpdate" method="POST">

        <input type="hidden" name="id" th:value="${product.id}" >
        <input type="submit" value="Select">
    </form>
</div>
</body>
</html>