<!-- Author: Depinder Kaur, created on: 14-03-2024 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body id="background">

<h2>Registration successful</h2>
<hr>

Customer name: <span th:text="${user.firstName + ' ' + user.lastName}" />
<br><br>

Registered email: <span th:text="${user.email}" />

<br>
<hr>
<br>

<a href="/loginForm"><b>Login</b></a>
</body>
</html>