<!-- Author: Depinder Kaur, created on: 15-03-2024 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<h1>User Login</h1>
<hr>
<i>Asterisk (*) means required.</i>
<br><br>

<form th:action="@{/authenticateTheUser}" method="POST">

    <span th:if="${param.error}"
          th:value="Invalid Username or Password"
          class="error"></span>

    <span th:if="${param.logout}"
          th:value="You have been logged out"
          class="error"></span>

    Email (*): <input type="email" name="email"/>

    <br><br>

    Password (*): <input type="password" name="password" />

    <br><br>

    <input type="submit" value="Login" />

    <br>
    <hr>
    <br>
    <a href="http://localhost:8080/"><b>Back to Home</b></a>

</form>

</body>
</html>