<!-- Author: Depinder Kaur, created on: 14-03-2024 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <link th:href="@{./css/style.css}" rel="stylesheet"/>
</head>

<body>
<h1>Registration Form</h1>
<hr>
<i>Fill out the form. Asterisk (*) means required.</i>
<br><br>

<form th:action="@{/processRegistrationForm}" th:object="${webUser}" method="POST">

    First name (*): <input type="text" th:field="*{firstName}" />

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"
          class="error"></span>

    <br><br>

    Last name (*): <input type="text" th:field="*{lastName}" />

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"></span>

    <br><br>

    <div th:if="${param.registrationError}">
        <span th:text="${param.registrationError}"
              class="error"></span>
    </div>

    <br>

    Email (*): <input type="email" th:field="*{email}"/>

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"
          class="error"></span>

    <br><br>

    Password (*): <input type="password" th:field="*{password}" />

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
          class="error"></span>

    <br><br>
    <input type="submit" value="Submit" />
    <hr>
    <br>
    <a href="/"><b>Back to Home</b></a></form>

</body>
</html>