<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body id="background">
<h1><span th:text = "${category}"></span></h1>

<dl th:each="p: ${productlist}">
    <dt><span th:text="${p.name}" ></span></dt>

    <dd>brand: <span th:text="${p.brand}" ></span></dd>
    <dd>description: <span th:text="${p.description}" ></span></dd>
    <dd> price: <span th:text="${p.price}" ></span> kr</dd>

</dl>
<br/>
<p>
    <span>
        <a href= > </a>
    </span>
</p>
<a href="/webshop"> Go Back</a>

</body>
</html>