<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body id="background">

<dl>
    <dt><span th:text="${product.name}" ></span></dt>

    <dd>brand: <span th:text="${product.brand}" ></span></dd>
    <dd>description: <span th:text="${product.description}" ></span></dd>
    <dd> price: <span th:text="${product.price}" ></span> kr</dd>
    <dd><button> add to cart</button></dd>
</dl>
<br/>

<a href="/webshop"> Go Back</a>

</body>
</html>