<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soft Touch Yarn Co.</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body id="background">

<h1>Soft Touch Yarn Co.</h1>
<p> We sell yarn to keep your imagination alive!</p>
<p>
    <form method="post" th:action="@{/search}">
        <input type="search" placeholder="Search Product" name="search">
        <input type="submit" value="Search">
    </form>
</p>

<ul th:each="p: ${categoryList}">
    <li><span th:text="${p.name}"></span>
        <form th:action="@{/product/chooseCategory}"  method="post">
            <input type="hidden" name="categoryID" th:value="${p.id}">
            <input type="submit" value="Select">
        </form>
    </li>
</ul>
<br/>
<!--<form th:action="@{/product/chooseCategory}" th:object="${menu}" method="POST" >-->
<!--    Category-->
<!--    <select name="product-category"  th:field="*{inputChoice}">-->
<!--        <option th:each="c: ${categoryList}"-->
<!--        th:value="${c}"-->
<!--        th:text="${c.name}"></option>-->
<!--    </select>-->
<!--    <input type="hidden"  name ="categoryID" th:value="${c.id}">-->
<!--    <input type="submit" value="Select">-->
<!--</form>-->
<br/>

<a href="/all-products"> Show all the products</a>

</body>
</html>