<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soft Touch Yarn Co.</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body id="background">

<h1>Soft Touch Yarn Co.</h1>
<p> We sell yarn to keep your imagination alive!</p>
<p>
    <form method="post" th:action="@{/search}">
        <input type="search" placeholder="Search Product" name="search">
        <input type="submit" value="Search">
    </form>
</p>
<h2> View products from the following categories</h2>

<dl th:each="p: ${categoryList}">
    <dt><h4><span th:text="${p.name}"></span> </h4>
    </dt>
    <dd>
        <form th:action="@{/product/chooseCategory}"  method="post">
            <input type="hidden" name="categoryID" th:value="${p.id}">
            <input type="submit" value="Select">
        </form>
    </dd>
</dl>
<br/>

<br/>

<a href="/all-products"> Show all the products</a>

</body>
</html>