<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body id="background">
<h2>Shopping Cart</h2>

<table>
    <thead>
    <tr>
        <th> Product</th>
        <th> Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cart.getShoppingCart()}" >
        <td th:text="${item.key.name}"></td>
        <td th:text="${item.value}"></td>
        <td> <form th:action="@{/product/updateQuantityOfProduct}" method="POST">
            <input type="hidden" name="id" th:value="${item.key.id}">
            <input type="submit" value="update amount">
        </form></td>
    </tr>
    </tbody>
</table>
<br><br>
<div sec:authorize="hasRole('ROLE_CUSTOMER')">
    <a th:href="@{/cart/checkout}">Checkout</a>
</div>
<br><br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout" />
</form>

</body>
</html>