<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body id="background">
<h2>Products List</h2>

<dl th:each="p: ${allproductslist}">
    <dt><span th:text="${p.name}" ></span></dt>

    <dd>brand: <span th:text="${p.brand}" ></span></dd>
    <dd>description: <span th:text="${p.description}" ></span></dd>
    <dd> price: <span th:text="${p.price}" ></span> kr</dd> <br/>

    <div sec:authorize="hasRole('ROLE_CUSTOMER')">
        <form th:action="@{/cart/chooseQuantityOfProduct}" method="POST">
            <input type="hidden" name="id" th:value="${p.id}" >
            <input type="submit" value="Select">
        </form>
    </div>

</dl>

<a th:href="@{/product/webShop}">Go Back</a>

</body>
</html>